body {
  margin: auto;
  width: 60%;
  padding: 10px;
}

h1 {
  color: #369;
  font-family: sans-serif;
  font-style: italic;
  font-size: 200%;
}

*{
  text-align: center;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}
