<h1>
  {{ title }}
</h1>

<nav>
  <a routerLink="/report" routerLinkActive="active">View full Report</a>
  <a routerLink="/upload-file" routerLinkActive="active">Upload a file Report</a>
</nav>

<router-outlet></router-outlet>
