<body>

  <div class="container">

    <div id="left">

      <h2>Get report by organizarion or date</h2>

      <div id="first">
        <ul class="list-org">
          <li *ngFor="let report of reports" [class.selected]="report === selectedreport" (click)="onSelect(report, getreportByName(report.organization))" [routerLink]="['/detail', report.organization]">
            {{ report.organization }}
          </li>
        </ul>
      </div>

      <div id="second" ng-controller="datCtrl">
        <ul class="list-org">
          <li *ngFor="let report of reportDate" [class.selected]="report === selecteddate" (click)="onSelectDate(report, getreportBydate(report.date))" [routerLink]="['/detail-date', report.date]">
            {{ report.date | date : "MMMM d, y" }}
          </li>
        </ul>
      </div>

    </div>

  </div>

</body>
