/********************************************************************************************/
body {
    text-align: center;
}

.container {
    width: fit-content;
    margin: auto;

}
header {
  background: black;
  text-align: center;
}

h3 {
  color: #80bfff;
  text-align: center;
}
/********************************************************************************************/

/* css to display two blocks on the page*/
/********************************************************************************************/
#left {
  width: fit-content;
  height: fit-content;
  float: left;
  padding-right: 50px;
}

#right {
  width: fit-content;
  height: fit-content;
  float: left;
}

#first {
    width: auto;
    float: left;
    height: auto;
    text-align: center;
}

#second {
    width: auto;
    float: left;
    height: auto;
}

#third {
    width: fit-content;
    float: left;
    height: auto;
    padding-right: 50px;
}

#forth {
  width: fit-content;
  height: auto;
  float: left;
}
/********************************************************************************************/

/*this is the CSS style that display the list of organization in a fashiion way */
/********************************************************************************************/
.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.list-org {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 5px;
    width: 15em;
}

.list-org li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em;
    height: 1.6em;
    border-radius: 4px;
    font-weight: bold;
}

.list-org .text {
    position: relative;
    top: -3px;
}

.list-org li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}

.list-org li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}

*{
  text-align: center;
}

.org-list {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
/********************************************************************************************/

/*this is the CSS style for the button */
/********************************************************************************************/
button {
    background-color: #369;
    border-radius: 12px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
/********************************************************************************************/

/*this is the style for the report table */
/********************************************************************************************/
#repotable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: fit-content;
}

#repotable td, #repotable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#repotable tr:nth-child(even){background-color: #f2f2f2;}

#repotable tr:hover {background-color: #ddd;}

#repotable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #369;
    color: white;
}
/********************************************************************************************/
