<div id="container">

  <div ng-if="selectedreport" ng-controller="datCtrl">

    <h2> {{ orgName | uppercase }} report </h2>

    <table id="repotable" align="center">

      <thead>

        <tr>
          <th [class.active]="order === 'report.size'" (click)="setOrder('report.size')" class="mdl-data-table__cell--non-numeric">
            Size
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </th>

          <th [class.active]="order === 'report.date'" (click)="setOrder('report.date')">
            Date
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </th>

        </tr>

      </thead>

      <tr *ngFor="let report of reportByNames | orderBy: order:reverse:'caseInsensitive'">
        <td>{{ report.size | fileSize }}</td>
        <td>{{ report.date | date : "MMMM d, y" }}</td>
      </tr>
    </table>

  </div>

  <div>
    <button (click)="goBack()">Back</button>
  </div>

</div>

